<!DOCTYPE html>
<html ng-app="trainingCenter">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Training Center (Angular Test)</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script type="text/javascript" src="angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/certifiedCtrl.js"></script>
    
</head>

<body ng-controller="certifiedCtrl">

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Training Center
                </a>
            </li>
            <li>
                <a href="myaccount.html">My Account</a>
            </li>
            <li>
                <a href="home.html">Certifieds</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!--<div id="page-content-wrapper">
            <div class="container"> -->

                <!-- Page Header -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Certifieds
                            <small>Select the certification you wish to study</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row  -->
                <!-- Projects Row  -->
                <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você quer estudar hoje?">
                <div  class="row">
                    <div  ng-repeat="certified in certifieds | filter:{tittle: criterioDeBusca}" class="col-md-4 portfolio-item">
                        <a href="topic.html">
                            
                        </a>
                        <h3>
                            <a href="topic.html">
                            <img src="{{certified.img}}">{{certified.tittle}}</a>
                        
                            
                            <p>{{certified.difficult}}
                        </h3>
                        <p>{{certified.description}}</p>
                        <p>Requisitos: {{certified.requirements}}</p>
                    </div>
                </div>
                <!-- /.row -->
            <!-- </div>
        </div> -->
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
</body>

</html>

